<div class="bg-white">
    <section class="container about">
        <div class="about-txt-centers">
            <h2 class="text-center">
                من نحن
            </h2>
            <p>
                </p><p>
من منا لا يحتاج للطباعة؟ 
</p>
<p>
قد نواجه أعطال مفاجئة لطابعاتنا المنزلية أو المكتبية ونحتاج لإتمام الطباعة بأي شكل كان، وقد نتردد في الذهاب لأماكن الطباعة لبعد المسافة أو لازدحام الطرق أو لغلاء الأسعار. منصة اطبع جعلت الطباعة أسهل بكثير.
</p>
<p>
نشأت منصة اطبع سعـيًا لمواكبة رؤية المملكة العربية السعودية 2030، وخطة التحول الرقمي الوطنية. حيث أنها أول منصة للطباعة الإلكترونية في المملكة العربية السعودية تعمل المنصة على تقديم خدمات الطباعة المختلفة بجودة عالية وتقوم بتسهيل أوامر الطباعة على المستخدمين بالطلب أونلاين والدفع أونلاين إما بالبطاقة الإئتمانية أو شحن المحفظة بالتحويل البنكي وبعد ذلك استلامه من نقاط الاستلام أو إيصاله للعميل.
</p>
<p>
تخدم المنصة شريحة واسعة من المستفيدين من الأفراد طلابًا ومعلمين وكذلك الجهات التعليمية وقطاعات الأعمال وغيرهم ممن يحتاج طباعة ملفاته بكل سهولة.
</p>
<p>
تدير منصة اطبع أعمالها من مكتبها الإداري بمركز السدحان بحي السليمانية بالرياض. مسجلة لدى وزارة التجارة والاستثمار بالمملكة العربية السعودية.
</p>
            <p></p>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1 about-sections">
                <div class="about-sections-block about-sections-block-eye text-center">
                    <h3>
                        رؤيتنا
                    </h3>
                    <p>
                        الريادة والتميز بأن نكون أفضل منصة إلكترونية تقدم خدمات الطباعة وأكثرها فعالية في المملكة العربية السعودية.
                    </p>
                </div>
                <div class="about-sections-block about-sections-block-dart text-center">
                    <h3>
                        مهمتنا
                    </h3>
                    <p>
                        خلق تناغم بين احتياجات العملاء من المطبوعات والخدمات المقدمة في المنصة، على أن تقدم هذه الخدمات بأعلى معايير من الجودة وأقل التكاليف.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>