<div class="row">
    <div class="col-sm-10 mx-auto d-block">
        <div class="card">
            <div class="card-header" style="text-align: center">
                <i class="icon-user"></i>
                <strong>My Profile</strong>
            </div>
            <div class="card-body">
                <div class="">
                    <div class="row">
                        <img alt="admin@bootstrapmaster.com" class="img-avatar mx-auto d-block"
                            src="assets/img/avatars/6.jpg">
                    </div>
                    <div class="row">
                        <input id="file-input" name="file-input" type="file" class="mx-auto d-block">
                    </div>
                </div>

                <form action="" class="form-horizontal ng-untouched ng-pristine ng-valid" enctype="multipart/form-data"
                    method="post" novalidate="">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="text-input">Frist Name</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="fNm" name="fNm" placeholder=" Enter Your Frist Name"
                                type="text">
                            <!-- <span class="help-block">This is a help text</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="text-input">Last Name</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="lNm" name="lNm" placeholder=" Enter Your Last Name"
                                type="text">
                            <!-- <span class="help-block">This is a help text</span> -->
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="inline-radios">Gender</label>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check form-check-inline mr-1" id="inline-radios">
                                <input class="form-check-input" id="inlineRadio1" name="inline-radios" type="radio"
                                    value="1">
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" id="inlineRadio2" name="inline-radios" type="radio"
                                    value="2">
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="text-input">Mobile Number</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="phoneNum" name="phoneNum"
                                placeholder=" Phone Number:(9665XXXXXX)" type="number">
                            <!-- <span class="help-block">This is a help text</span> -->
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="date-input">BirthDate</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="bData" name="bData" placeholder="Enter Your BirthData"
                                type="date">
                            <!-- <span class="help-block">Please enter a valid date</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="select1">Your Country</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="select1" name="select1">
                                <option value="0" ng-reflect-value="0">Please select</option>
                                <option value="1" ng-reflect-value="1">Option #1</option>
                                <option value="2" ng-reflect-value="2">Option #2</option>
                                <option value="3" ng-reflect-value="3">Option #3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="city" class="col-form-label col-sm-3">City</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="city" placeholder="Enter your city" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="street" class="col-form-label col-sm-3">Street</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="street" placeholder="Enter street name" type="text">
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Submit</button>
                <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header" style="text-align: center">
                <i class="icon-location-pin"></i>
                <strong>My Addresses</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="list-group-item list-group-item-accent-success list-group-item-divider">
                        <div>
                            <i class="icon-credit-card"></i>
                            <strong >المستلم احمدمحمد عبدالله الحصرى </strong>
                        </div>
                        <small class="text-muted mr-3">
                            <i class="icon-phone"></i>96652132123</small>
                        <small class="text-muted">
                            <i class="icon-location-pin"></i> 23st ,creativeLabs HQ - mansourah - egypt
                        </small>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header" style="text-align: center">
                <i class="icon-settings "></i>
                <strong>Add New Adress</strong>
            </div>
            <div class="card-body">
                <form action="" class="form-horizontal ng-untouched ng-pristine ng-valid" enctype="multipart/form-data"
                    method="post" novalidate="">

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="text-input">Recipient Name</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="rNm" name="rNm" placeholder=" Enter Recipient Name"
                                type="text">
                            <!-- <span class="help-block">This is a help text</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="text-input">Mobile Number</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="phoneNum" name="phoneNum"
                                placeholder=" Phone Number:(9665XXXXXX)" type="number">
                            <!-- <span class="help-block">This is a help text</span> -->
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="select1">Your Country</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="select1" name="select1">
                                <option value="0" ng-reflect-value="0">Please select</option>
                                <option value="1" ng-reflect-value="1">Option #1</option>
                                <option value="2" ng-reflect-value="2">Option #2</option>
                                <option value="3" ng-reflect-value="3">Option #3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="city" class="col-form-label col-sm-3">City</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="city" placeholder="Enter your city" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="street" class="col-form-label col-sm-3">Street</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="street" placeholder="Enter street name" type="text">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Submit</button>
                <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </div>
    </div>
</div>