<div class="card">
    <div class="card-header">
      <strong>Horizontal</strong> Form
    </div>
    <div class="card-body">
      <form action="" class="form-horizontal ng-untouched ng-pristine ng-valid" method="post" novalidate="">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Email</label>
          <div class="col-md-9">
            <input autocomplete="email" class="form-control" id="hf-email" name="hf-email" placeholder="Enter Email.." type="email">
            <span class="help-block">Please enter your email</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-password">Password</label>
          <div class="col-md-9">
            <input autocomplete="current-password" class="form-control" id="hf-password" name="hf-password" placeholder="Enter Password.." type="password">
            <span class="help-block">Please enter your password</span>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </div>




  <div class="card">
    <div class="card-header">
      <strong>Horizontal</strong> Form
    </div>
    <div class="card-body">
      <form action="" class="form-horizontal ng-untouched ng-pristine ng-valid" method="post" novalidate="">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Email</label>
          <div class="col-md-9">
            <input autocomplete="email" class="form-control" id="hf-email" name="hf-email" placeholder="Enter Email.." type="email">
            <span class="help-block">Please enter your email</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-password">Password</label>
          <div class="col-md-9">
            <input autocomplete="current-password" class="form-control" id="hf-password" name="hf-password" placeholder="Enter Password.." type="password">
            <span class="help-block">Please enter your password</span>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </div>